name: Insurance Kata Common CI
on: [push, pull_request]
jobs:
    run-tests:
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@v5
        - uses: actions/setup-java@v5
          with:
            distribution: 'temurin'
            java-version: '21'
        - run: ./gradlew test --no-daemon
